* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(223, 254, 255);
    font-family: 'Roboto Mono', monospace;
}

.flex-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    height: 100vh;
}

header{
    flex: 1 1 15vh;
    border-bottom: 1px solid rgba(29, 28, 28, 0.219);
    width: 100vw;
    justify-self: center;
    align-self: center;
    text-align: center;
    /* background: rgba(0, 0, 0, 0.05); */
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

    background-color:#E0F2F1;
    padding:10px;
    border-radius:1px;
    box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
}

.game{
    flex: 4 1 55vh;
    padding-top: 1%;
}

.result{
    padding-top: 2%;
    margin: 0px auto;
    flex: 2 2 20vh;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-content: center;
    font-size: 1.4em;
}

footer{
    flex: 1 1 10vh;
    padding-top: 2%;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 1.5px;
}

.tictactoe{
    display: grid;
    height: 50vh;
    width: 80vw;
    margin-top: 2%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-content: center;

}

.choice{
    display: flex;
    position: relative;
    justify-content: center;
    align-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s all;
}

.choice:hover{
    transition: all 0.3s cubic-bezier(.55,.06,.68,.19);
    background-color: rgb(199, 233, 234);

}

.choice:active{
    padding: 10%;
}
.border-right{
    border-right: 3px solid rgb(87, 85, 85);
}

.border-bottom{
    border-bottom: 3px solid rgb(87, 85, 85);
}

.x{
    font-size: 5em;
}

.rainbow {
  
    /* Font options */
   font-family: 'Pacifico', cursive;
   text-shadow: 2px 2px 4px #000000;
   font-size:40px;
   
    /* Chrome, Safari, Opera */
   -webkit-animation: rainbow 5s infinite; 
   
   /* Internet Explorer */
   -ms-animation: rainbow 5s infinite;
   
   /* Standar Syntax */
   animation: rainbow 5s infinite; 
 }
 
 /* Chrome, Safari, Opera */
 @-webkit-keyframes rainbow{
   0%{color: orange;}	
   10%{color: purple;}	
     20%{color: red;}
   30%{color: CadetBlue;}
     40%{color: yellow;}
   50%{color: coral;}
     60%{color: green;}
   70%{color: cyan;}
   80%{color: DeepPink;}
   90%{color: DodgerBlue;}
     100%{color: orange;}
 }
 
 /* Internet Explorer */
 @-ms-keyframes rainbow{
    0%{color: orange;}	
   10%{color: purple;}	
     20%{color: red;}
   30%{color: CadetBlue;}
     40%{color: yellow;}
   50%{color: coral;}
     60%{color: green;}
   70%{color: cyan;}
   80%{color: DeepPink;}
   90%{color: DodgerBlue;}
     100%{color: orange;}
 }
 
 /* Standar Syntax */
 @keyframes rainbow{
     0%{color: orange;}	
   10%{color: purple;}	
     20%{color: red;}
   30%{color: CadetBlue;}
     40%{color: yellow;}
   50%{color: coral;}
     60%{color: green;}
   70%{color: cyan;}
   80%{color: DeepPink;}
   90%{color: DodgerBlue;}
     100%{color: orange;}
 }

.points{
  font-weight: 600;
  margin-left: 12px;
  color: green;
}

.mt5{
  margin-top: 1%;
}

.button {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Exo 2", sans-serif;
  font-weight: 300;
  font-size: 16px;
  display: inline-block;
  position: relative;
  text-align: center;
  /* color: #00c7ec; */
  color: #1f2324;
  border: 1px solid #363c3d;
  border-radius: 5px;
  line-height: 3em;
  padding-left: 5em;
  padding-right: 5em;
  margin-top: 5px;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.button:hover {
  color: white;
  box-shadow: 0 0 30px 0 rgba(0, 199, 236, 0.5);
  background-color: #00c7ec;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.button:hover:before {
  -webkit-animation: shine 0.5s 0s linear;
  -moz-animation: shine 0.5s 0s linear;
  animation: shine 0.5s 0s linear;
}
.button:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}
.button:before {
  content: "";
  display: block;
  width: 0px;
  height: 50%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: white;
  box-shadow: 0 0 15px 3px white;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@-webkit-keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
@-moz-keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}